.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
  "options graph";
  width: 100%;
  height: 90vh;
}

.select-options{
  grid-area: options;
  margin-left: 30px;
  margin-top: 30px;

}

.bar-graph{
  grid-area: graph;
}

.select-options #rates-label{
  display:block;
  text-align: left;
  margin-left: 20px;
}

.select-options #rates{
  display: block;
  margin-left: 20px;

}

.select-options #miles-label{
  display: block;
  text-align: left;
  margin-left: 20px;
}

.select-options #miles{
  display: block;
  text-align: left;
  margin-left: 20px;
}

.select-options #miles-range{
  display: block;
  text-align: left;
  margin-left: 50px;
}

.select-options #hours-label{
  display: block;
  text-align: left;
  margin-left: 20px;
}

.select-options #hours{
  display: block;
  text-align: left;
  margin-left: 20px;
}